.heading {
    width: 100%;
    font-size: large;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.object_name {
    font-size: 20px;
    color: darkgoldenrod;
}

.button {
    
}

.start {
    color: rgb(10, 10, 164);
    font-size: 20px;
}

canvas {
    border-radius: 10px;
    margin-top: 80px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px black;
}